<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About Siran's Kitchen</h2>
      <br />
      <div>
        <img
          src="https://res.cloudinary.com/siran-chao/image/upload/v1682645725/0c46e037e356ea1a96d6e96cda116218_3x3_zeve5p.webp"
          alt="banner-photo" class="banner" />
      </div>
      <br />
      <p>
        “Visual Studio Code is an open-source (free) streamlined code editor
        with support for development operations like debugging, task running and
        version control. It aims to provide just the tools a developer needs for
        a quick code-build-debug cycle and leaves more complex workflows to
        fuller featured IDEs”. Visual Studio Code also runs on Mac OS X, Linux
        and Windows operating systems, which will provide the class with a
        single unified environment to work in regardless of a student’s choice
        of laptop or home computer.
      </p>
      <br />
      <p>
        A modern web browser such as Google Chrome or Mozilla Firefox will be
        used regularly throughout this course. Internet Explorer 11 / Edge will
        work as well, as it supports a similar set of development tools, however
        due to it’s lack of plugins / addons and cross-platform support it’s not
        as highly recommended. All screenshots and development examples used
        throughout this course have been taken in Google Chrome.
      </p>
      <br />
      <p>
        Back in 1996 the JavaScript language specification was taken to Ecma
        (European Computer Manufacturers Association) International to develop a
        formal standardized specification, which other browser vendors and
        companies could implement and expand. This standardized JavaScript was
        dubbed “ECMAScript” and specific vendor versions of the specification
        were known as “dialects”, the most popular of which being “JavaScript”.
        When we refer to “JavaScript” we’re really referring to a dialect of
        ECMAScript that has been implemented in the engine / runtime environment
        that is running our JavaScript formatted code. For example, this
        includes JavaScript engines like SpiderMonkey in Firefox, v8 in Chrome,
        or Chakra in Internet Explorer.
      </p>
      <br />
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>
      The section is still under develop, new features will coming soon! Thank
      you
    </p>
  </aside>
</div>