<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>Welcome to Siran's Kitchen</h2>
      <br />
      <div>
        <img
          src="https://res.cloudinary.com/siran-chao/image/upload/v1682717292/0c46e037e356ea1a96d6e96cda116218_3x3_p6bebz.webp"
          alt="banner-photo" class="banner" />
      </div>
      <br />
      <p class="about-text">
        <strong>Welcome!</strong> to Siran's cooking website, here you can learn how to cook delicious meals from a
        variety of recipes!
        Whether you're a beginner in the kitchen or a seasoned chef, our website has something for everyone.
      </p>

      <p class="about-text">
        The website offers a wide range of recipes, from classic comfort foods to more adventurous dishes. You'll find
        step-by-step instructions to guide you through each recipe, making it easy to create delicious
        meals in your own home. To view the full online recipes just simply click the <a href="/blog">Menu Tab</a> and
        find something tasty!
      </p>

      <p class="about-text">
        The application are designed to accommodate a variety of lifestyles and open for edit. We encourage people to
        join us and contribute your own recipe. Just click <a href="/register">Sign up</a> for account registration.
        Once you log in, you will be able
        to upload your own recipe. Please remember to also upload a cover image and
        select Category. If you can't find the precise category, you can view the <a href="/categories">Category
          Page</a> and create a new category.
      </p>
      <br />

      <p class="about-text">Whether you're looking to learn, expand your recipe repertoire, or simply find some
        inspiration
        for your next meal, our website is the perfect place to start. <a href="/register">Join us</a> today and
        <strong>Let's Get Cooking!</strong>
      </p>
      <br />
    </article>
  </section>
  <aside class="col-md-3">
    <h3>Recommend Recipes</h3>
    {{#if message}}
    <p>{{message}}</p>
    <br />
    {{/if}}

    {{#if data}}
    <p>Don't know what to eat? Here are some random recipes for you!</p>
    <br />
    {{#each data}}
    <ul class="list-group">
      <a href="/blog/{{this.id}}" class="list-group-item">{{this.title}}</a>
    </ul>
    {{/each}}
    <div>
      <a href="/about" class="btn btn-outline-danger btn-sm"><span
          class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Change</a>
    </div>

    {{else}}
    <p>No results can be found</p>
    {{/if}}

  </aside>
</div>