<div class="row">
  <div class="col-md-12">
    <h2>You can create an new recipe</h2>
    <br />
    <form method="post" action="/posts/add" enctype="multipart/form-data">
      <fieldset>
        <legend>Recipe Content</legend>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="title">Name:</label>
              <input class="form-control" id="title" name="title" type="text" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="body">Cooking Instruction:</label>
              <textarea class="form-control" id="body" name="body" rows="15"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="category">Category:</label>
              {{#if categories}}
              <select class="form-control" name="category" id="category" required>
                <option value="" disabled selected>Select Category</option>
                {{#each categories}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
              </select>
              {{else}}
              <div>No Categories</div>
              {{/if}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="category">Visibility:</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="published" id="published" />
                  Published
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>


      <br /> <br />

      <fieldset>
        <legend>Additional Information: </legend>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="featureImage">Cover Image:</label>
              <input class="form-control" id="featureImage" name="featureImage" type="file" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="video">Video Url &#40;Optional&#41;:</label>
              <input class="form-control" id="video" name="video" type="text"
                placeholder="suggest using YouTube link" />
            </div>
          </div>
        </div>
      </fieldset>

      <br />

      <input type="submit" class="btn btn-primary pull-right" value="Add Recipe" /><br /><br /><br />
    </form>
  </div>
</div>