/* this file is the main css of the application */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --body-background: #cfe1fc;
  --text-color: #2a2d36;
  --btn-color: #ff9933;
  --slot-color: #92d474;
  --tile-select: #ff0033;
}

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-background);
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 100%;
}

.container {
  padding: 5px;
}

.banner{
  display: block;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

#video-embed{
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 50%;
}

.main-text{
  padding: 5px;
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  #video{
    width: 95%;
    height: 40%;
  }

  .main-text{
    padding: 10px;
    font-size: 1em;
  }
}

@media screen and (max-width: 425px) {
  #video{
    width: 100%;
    height: 30%;
  }
}
